[Desktop Entry]
Type=Service
MimeType=application/octet-stream;
Actions=createBackup;loadBackup;
X-KDE-Submenu=Backups
X-KDE-Submenu[zh]=备份

[Desktop Action createBackup]
Name=Create Backup
Name[zh]=创建备份
Icon=document-save
Exec=futili create %f

[Desktop Action loadBackup]
Name=Load Backup
Name[zh]=加载备份
Icon=backup
Exec=futili load %f
